{% extends 'base.html' %}

{% block title %}
{{user.username}}'s profile
{% endblock title %}

{% block body %}
<h1>{{ profile.user }}</h1>

<p>Age: {% if profile.age %}
<p>{{ profile.age }}</p>
{% else %}
<p>no age</p>
{% endif %}
</p>

<p>Photo:
    {% if profile.photo %}
    <img src="{{ profile.photo.url }}" alt="">
    {% else %}
<p>no photo</p>
{% endif %}
</p>

<p>Phone Number:
    {% if profile.phone_number %}
<p>{{profile.phone_number }}</p>
{% else %}
<p>no phone number</p>
{% endif %}
</p>

<p>
    {% if profile.bio %}
    <textarea name="bio" id="" cols="30" rows="10">
    {{profile.bio }}
</textarea>
    {% else %}
<p>no bio</p>
{% endif %}
</p>

<p><a href="{% url 'profile_update' user.profile.id %}">edit</a></p>
{% endblock body %}