<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
</head>

<body>

    {% if user.is_authenticated %}
    <p>Hi {{ user.username }}</p>

    {% if user.profile.id %}
    <p><a href="{% url 'profile_detail' user.profile.id %}">profile</a></p>
    {% endif %}
    <p><a href="{% url 'logout' %}">Log Out</a></p>
    <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
    {% else %}
    <p>you are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
    {% endif %}

    <p><a href="{% url 'products:home' %}">
            <h1>Home</h1>
        </a></p>

    {% block body %}
    {% endblock body %}

</body>

</html>